@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* common */
.display-flex{
            display: flex;
}
.btn{
  display: flex;
  font-size: 1rem;
  color: #fff;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  border-radius: 1000px;
  border: none;
  background: linear-gradient(47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
}
.btn:hover{
    background: transparent;
    color: #00FF88;
    border: 1px solid #00FF88;
}
/* header */
header{
  background-image: url('../images/hero-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center ;
  padding-bottom: 3rem;


}


nav{
height: 92px;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 16px 200px ;
box-sizing: border-box;
border-bottom: 1px solid rgba(65, 37, 103, 1);
 background: #1A0B2E, rgba(26, 11, 46, 1);

}

.logo h2{
     font-size: 3.2rem;    
     color: white;   
     cursor: pointer;

}


.nav-item{
            list-style: none;


      }  
.nav-link{
            text-decoration: none;
            font-size: 16px;
            color: #fff;
            font-weight: 600;
            line-height: 120%;
            text-transform: capitalize;
            padding-left: 2.0rem;
            cursor: pointer;
}

/* banner  */
.banner-image{
            width: 350px;
            height: 350px;
            background-image: url('../images/hero-circle.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            margin: 5.2rem auto;
             display: flex;
            justify-content: center;
            align-items: center;
}
.banner-image img {
  width: 120px;
  animation: micPulse 2s ease-in-out infinite;
}

@keyframes micPulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.banner-text{
   text-align: center;
   align-items: center;   
   color: #fff;
   
}
.banner-text h2{
  font-size: 60px;
  font-weight: 800;
  letter-spacing: 13px;
}
.banner-text p{
  line-height: 40px;
  font-size:16px;
}
.banner-btn {

  justify-content: center;
  gap: 1rem;              
  margin-top: 1.5rem;     
}

.subscribe{
  background: transparent;
  border:1px solid #00FF88;
  color:#00FF88
}
.banner-image {
  position: relative;
}

.banner-image .badge{
   
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 8px 16px;
    background-color: #00FF88;
    color: #1A0B2E;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 9999px;

}

/* about  */
.about{
 
  background-color: #1A0B2E;
  padding: 50px 100px;

}


.about h2{
  color: #fff;
  font-size: 4rem;
  justify-content: center;
  gap: 1rem;              
  margin-top: 1.5rem;    text-align: center;
   align-items: center;  
}

.about-text p{
  color: #fff;
  font-size: 1rem;
  justify-content: center;
  text-align: center;
  align-items: center; 
  padding:0px 15rem ;
  gap: 1rem;              
  margin: 2.5rem;  
    
 
}
hr {
  border: 0;                 
  height: 1px;                
  background-color: rgba(255, 255, 255, 0.3); 
 margin: 10px 4rem;            
}


.about-count{
margin: 5rem;
display: flex;
justify-content: space-between;
}
.abount-one{
  font-size: 4rem;
  color: #00FF88;
}

.abount-one p{
  font-size: 1rem;
  color: #fff;
  text-transform: uppercase;
    margin: 2rem;
}

/** Why choose */
.choose{
   background-color: #230E3D;
    padding: 120px 0;
    
}
.why-choose{
    width: 85%;
    margin: 0 auto;
}
.title{
    font-size: 3rem;
    color: #FFFFFF;
    margin-bottom: 40px;
   
    text-align: center;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(53, 17, 101, 0.4);
    color: #fff;
    border-radius: 40px;
    padding: 40px;
}
.card-container{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}
.card-container .card:nth-child(1){
    grid-row: span 2;
}

.card-container .card:nth-child(2),
.card:nth-child(3){
    grid-column: span 2;
}

.card-container .card:nth-child(4){
    grid-column: span 2;
}

 .card-description{
    margin-bottom: 10px;
    line-height: 30px;
    opacity: 60%;
    margin-bottom: 32px;
    color: #FFFFFF;
}
.card-icon img{
  padding-bottom: 1rem;
}
.card-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    margin: 16px 0;
}

/** Featured */
.fearured{
      background-color: #1A0B2E;
      padding: 5rem 0;
}
.fearured-main{
    width: 85%;
    margin: 0 auto;
}
.fearured-main .title{
  padding-top: 4rem;
}

.featured-card-container{
    display: flex;
    gap: 30px;
}

.featured-card{
    background-color: #250D44;
    border-radius: 24px;
}
.featured-card .featured-video iframe{
    width: 100%;
    height: 300px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}
.featured-card-content{
  padding: 30px;
}
.featured-card-content .card-title{
  font-size: 32px;
 
}
.featured-duration{
    display: flex;
    gap: 5px;
    color: #00FF88;
    font-weight: 600;
}

.fearured-host {
     width: 85%;
    margin: 5rem auto;
}
.host-card{
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 48px 40px;
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.4);
   
}
.host-card .host-img img{
    width: 250px;
    border-radius: 50%;
}

 .host-title{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 16px;
    color: #fff;
}
.social-links ul li{
  list-style: none;
  gap: 18px;
}
.social-links li a{
    justify-content: center;
    align-items: center;
    border: 1px solid #1A0B2E;
    padding: 12px;
    margin: 4px;
    border-radius: 50%;
    cursor: pointer;  
}
.social-links li a:hover{

  background-color: #1A0B2E;
}