@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* common */
.display-flex{
            display: flex;
}
.btn{
  display: flex;
  font-size: 1rem;
  color: #fff;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 1000px;
  border: none;
  background: linear-gradient(47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
}

/* header */
header{
background-image: url('../images/hero-bg.png');
background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

height: 130vh;

}


nav{
height: 92px;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 16px 200px ;
box-sizing: border-box;
border-bottom: 1px solid rgba(65, 37, 103, 1);
 background: #1A0B2E, rgba(26, 11, 46, 1);

}

.logo h2{
     font-size: 3.2rem;    
     color: white;   
     cursor: pointer;

}
.text-gradient ,.nav-link:hover{
  background: linear-gradient(45deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-item{
            list-style: none;


      }  
.nav-link{
            text-decoration: none;
            font-size: 16px;
            color: #fff;
            font-weight: 600;
            line-height: 120%;
            text-transform: capitalize;
            padding-left: 2.0rem;
            cursor: pointer;
}

/* banner  */
.banner-image{
            width: 300px;
            height: 300px;
            background-image: url('../images/hero-circle.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            margin: 5.2rem auto;
             display: flex;
            justify-content: center;
            align-items: center;
}
.banner-image img {
  width: 120px;
  animation: micPulse 2s ease-in-out infinite;
}

@keyframes micPulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
